/* farm-items-display.scss */

.item-list {
    padding: 20px;
    .header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        h2 {
            margin: 0 0 0 10px;
            display: inline-block;
        }
        button {
            display: inline-flex;
            align-items: center;
            margin-right: 10px;
            svg {
                margin-right: 5px;
            }
        }
    }
    .table-container {
        max-height: 550px;
        overflow-y: auto;
        position: relative;
    }
    .table-container::-webkit-scrollbar {
        width: 4px;
    }
    .table-container::-webkit-scrollbar-thumb {
        background-color: lightgrey;
        border-radius: 4px;
    }
    .table-container thead th {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
    }
    .actions-column {
        display: flex;
        justify-content: space-around;
        .action-button {
            svg {
                margin-right: 5px;
            }
        }
    }
    .loading-spinner,
    .no-records-found,
    .error-message {
        text-align: center;
        font-size: 1.5em;
        color: grey;
    }
    .error-message {
        color: red;
        width: 100%;
    }
    table {
        th,
        td {
            vertical-align: middle;
            text-align: center;
        }
    }
}

.refresh {
    color: #1f7f19;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.header {
    display: flex;
    align-items: center;
}

.refresh {
    display: flex;
    align-items: center;
    color: #1f7f19;
    cursor: pointer;
}

.refresh-icon {
    margin-left: 0.5rem;
}